{% extends 'books/base.html' %}
{% block carausel %}

{% endblock carausel %}
{% block hero %}
<div class="flex-col">
<section class="flex  mx-10 my-1 border-gray-400 border bg-white">
    <section class="flex-col items-left m-2 text-gray-600 h-screen">
        <a href ='#' class="flex text-blue-600 py-4">Trending Books</a>
        <h1 class="text-2xl"> Trending Books: Now</h1>
        <p> See what readers from all over the world have in their bookshelves.</p>
    </section>


</div>


{% endblock hero %}
